.loading-overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  display:flex;
  justify-content:center;
  align-items:center;
  background: rgba(0,0,0,0.72);
  z-index: 99999; /* suficientemente alto */
  pointer-events: all; /* garante que captura cliques */
}

/* caixa opcional para dar padding ao GIF */
.loading-box{
  padding: 8px;
  border-radius: 50%;
}

.loading-gif {
  width: 140px;
  height: auto;
  display: block;
  filter: drop-shadow(0 6px 14px rgba(0,0,0,0.6));
}
